@import '../../styles/shared.scss';

.contactName {
  margin-right: 15px;
  font-weight: 500;
}

.linksListItem:not(:last-child) {
  margin-right: 10px;
}

.linksList {
  @extend %list;

  display: flex;
}

.editContactBtn,
.deleteContactBtn {
  padding: 5px;
}

.contactsIcon {
  @extend %icon;
}
