@import '../../styles/shared.scss';

.contactForm {
  @extend %form;
}

.formLabel {
  @extend %label;
}

.formInput {
  @extend %inputField;

  padding: 12px;

  @media screen and (min-width: $mobile) {
    padding: 14px;
  }

  @media screen and (min-width: $tablet) {
    padding: 18px;
  }

  @media screen and (min-width: $desktop) {
    padding: 20px;
  }
}

.formBtn {
  width: calc((100% - 15px) / 2);

  &:not(:last-child) {
    margin-right: 15px;
  }
}
