$text-light-theme-color: #5e5e5e;
$text-dark-theme-color: #ffffff;
$bcg-dark-theme-color: rgba(151, 248, 201, 0.25);
$bcg-light-theme-color: #ffffff;
$accent-color: #1d774d;
$accent-second-color: #c2185b;
$btn-accent-color: #1d8d59;
$warning-message-color: #3f51b5;
$input-focus-color: #3f51b5;
