$green: #2e7d32; // Material-UI
$light-green: #bcfcdd;
// $green: #1d774d;
//   background-color: #299e67; // кнопка у формі

$pink-accent: #c2185b; // + вибраний
// $pink-accent: #f06292; // Material-UI
// $pink-accent:  #fa8072;
$blue: #3f51b5; // Material-UI
$white: #ffffff;
$red: rgb(189, 17, 17);
$main-text: #5e5e5e;
// $main-text: #363636;
$section-background: rgba(188, 252, 221, 0.25);

// Material-UI
// color: #f8bbd0; //pink[100] непоганий (дуже світло-малиновий)
// color: #f48fb1; //pink[200] непоганий колір (світло-малиновий) ++
// color: #f06292; //pink[300] +++
// color: #ec407a; //pink[400] +-
// color: #e91e63; //pink[500] -
// color: #d81b60; //pink[600] -
// color: #c2185b; //pink[700]

// color: #4caf50; //green[500]
// color: #43a047; //green[600] засвітлий
// color: #388e3c; //green[700] непоганий ++
// color: #2e7d32; //green[800] +++
// color: #1b5e20; //green[900] дуже темний

// color: #ffe0b2; //orange[100] дуже світлий
// color: #ffcc80; //orange[200] -
// color: #ffb74d; //orange[300]
// color: #ffa726; //orange[400]
// color: #ff9800; //orange[500]

// color: #1d774d;
// color: maroon;
// color: darkred;
// color: brown;
// color: firebrick;
// color: sienna;
// color: tomato;
// color: coral;
// color: lightcoral;
// color: palevioletred;
// color: salmon; // +++
// color: darksalmon;
// color: sandybrown;
// color: burlywood;
// color: tan;
// color: rosybrown;
// color: darkmagenta;
// color: mediumvioletred;
// color: orchid;
// color: mediumslateblue;
// color: darkblue;
// color: royalblue;
// color: steelblue;
// color: cornflowerblue;
// color: mediumturquoise;
// color: darkcyan;
// color: teal;
// color: cadetblue;
// color: darkseagreen;
// color: mediumseagreen;
// color: seagreen;
// color: green;
// color: rgb(105, 105, 105); // main font
// color: #fa8072; // focus
// color: dimgray;

// color: #2e7d32;
//   color: #c2185b;
// color #3f21b5; // accent
