@import './variables.scss';

%list {
  padding: 0;
  margin: 0;
  list-style: none;
}

%link {
  display: block;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  color: inherit;

  &:focus,
  &:hover {
    color: $pink-accent;
  }

  @media screen and (min-width: $mobile) {
    font-size: 16px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 20px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 24px;
  }
}

%button {
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid $green;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    outline: transparent;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.8),
      0px 3px 1px rgba(0, 0, 0, 0.1);
  }
}

%form {
  padding: 15px;

  background-color: $white;
  border-radius: 4px;

  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.8),
    0px 3px 1px rgba(0, 0, 0, 0.1);

  @media screen and (min-width: $tablet) {
    padding: 30px;
  }

  @media screen and (min-width: $desktop) {
    width: 800px;
  }
}

%formTitle {
  font-size: 20px;
  color: $pink-accent;

  @media screen and (min-width: $mobile) {
    font-size: 24px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 30px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 36px;
  }
}

%label {
  display: block;
  margin-bottom: 10px;
  line-height: 1.8;
  color: $green;

  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
  }
}

%inputField {
  width: 100%;

  color: $main-text;
  border: 2px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border: 2px solid $blue;
  }
}

%formBtn {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  color: $white;
  background-color: $green;
  border-radius: 4px;

  @media screen and (min-width: $mobile) {
    font-size: 16px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 18px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 22px;
  }

  &:hover {
    background-color: $green-hover;
  }
}

%icon {
  width: 16px;
  height: 16px;

  fill: currentColor;

  @media screen and (min-width: $mobile) {
    width: 20px;
    height: 20px;
  }

  @media screen and (min-width: $tablet) {
    width: 24px;
    height: 24px;
  }

  @media screen and (min-width: $desktop) {
    width: 30px;
    height: 30px;
  }
}
