@import '../../styles/shared.scss';

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  color: $green;
}

.logoIcon {
  @extend %icon;

  margin-right: 4px;
}

.logoText {
  font-weight: 700;
  text-transform: uppercase;
}

.accent {
  text-transform: initial;
}
