@import '../../styles/shared.scss';

.authForm {
  @extend %form;
  margin: 0 auto;

  .lockIcon {
    @extend %icon;

    padding: 3px;

    color: $text-dark-theme-color;
    background-color: $accent-second-color;
    border-radius: 50%;
  }

  .inputField {
    margin-bottom: 10px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 20px;
    }
  }

  input {
    padding: 16px;
    color: $text-light-theme-color;

    @media screen and (min-width: $tablet) {
      padding: 18px;
    }
  }

  label {
    font-size: 14px;

    @media screen and (min-width: $tablet) {
      font-size: 16px;
    }
  }

  .passwordIcon svg {
    @extend %icon;
  }

  .authFormBtn {
    margin-bottom: 10px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 30px;
    }
  }

  .formLink {
    @extend %link;
  }
}
