@import '../../styles/shared.scss';

.AuthNavList {
  @extend %list;
  display: flex;
}

.listItem:not(:last-child) {
  margin-right: 10px;

  @media screen and (min-width: $tablet) {
    margin-right: 30px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 50px;
  }
}

.listItemLink {
  @extend %link;

  padding-top: 15px;
  padding-bottom: 15px;

  @media screen and (min-width: $tablet) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.activeLink {
  color: $accent-second-color;
}
