@import '../../styles/shared.scss';

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.developerContacts {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.text,
.linksListItem:not(:last-child) {
  margin-right: 10px;

  @media screen and (min-width: $tablet) {
    margin-right: 15px;
  }
}

.developerName {
  font-weight: 700;
}

.linksList {
  @extend %list;

  display: flex;
}

.developerLink {
  @extend %link;
}

.footerLogo {
  margin-bottom: 10px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
  }
}

.footerIcon {
  @extend %icon;
}
