@import '../../styles/shared.scss';

.contactsList {
  @extend %list;

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
  }
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @media screen and (min-width: $desktop) {
    width: calc((100% - 60px) / 2);
  }
}

.listItem:not(:last-child) {
  margin-bottom: 10px;
}

.listItem:nth-child(odd) {
  @media screen and (min-width: $desktop) {
    margin-right: 60px;
  }
}

.listItem:nth-last-child(-n + 2) {
  @media screen and (min-width: $desktop) {
    margin-bottom: 0px;
  }
}
