@import '../../styles/shared.scss';

.hero {
  margin-right: auto;
  margin-left: auto;
  padding-top: 120px;
  padding-bottom: 120px;

  color: $text-dark-theme-color;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(./hero.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(47, 48, 58, 0.8);

  @media screen and (min-width: $tablet) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 300px;
    padding-bottom: 300px;
  }
}

.title {
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: $mobile) {
    font-size: 22px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 30px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 44px;
  }
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  @media screen and (min-width: $tablet) {
    margin-top: 30px;
  }
}

.text {
  margin-right: 6px;
}

.link {
  color: inherit;
  font-weight: 700;

  &:focus,
  &:hover {
    color: $accent-second-color;
  }
}
