@import '../../styles/shared.scss';

.userMenuContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userEmail {
  margin-right: 10px;

  @media screen and (min-width: $tablet) {
    margin-right: 30px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 50px;
  }
}

.btn {
  padding: 0;
  background-color: $bcg-light-theme-color;
}

.logoutIcon {
  @extend %icon;
}
